page {
  box-sizing: border-box;
  background-color: #f0f0f0 !important;
  height: 100%;
}

.container {
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

.navigation-bar {
  height: 88rpx;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 32rpx;
  font-weight: 500;
}

.navigation-bar .back {
  width: 34rpx;
  height: 34rpx;
  transform: rotate(-90deg);
  margin-left: 20rpx;
}

.navigation-bar .empty-view {
  width: 54rpx;
}

.banner {
  width: 100%;
  height: 460rpx;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 10;
}

.banner image {
  width: 100%;
  display: block;
}

.navigation-bar-cover {
  background: linear-gradient(
    to right,
    rgba(103, 164, 177, 0.8),
    rgba(103, 164, 177, 1)
  );
}

.banner .banner-cover {
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(103, 164, 177, 0.8),
    rgba(103, 164, 177, 1)
  );
  z-index: 80;
}

.banner .info {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
  left: 0;
  top: 0;
  padding: 80rpx 0 40rpx;
  box-sizing: border-box;
  transition: opacity 3s;
}

.banner .title {
  font-size: 24rpx;
  font-weight: 350;
  margin-bottom: 40rpx;
}

.banner .content {
  margin-bottom: 40rpx;
}

.banner .num {
  font-weight: 500;
  font-size: 100rpx;
  padding-right: 10rpx;
  line-height: 1;
  letter-spacing: 4rpx;
}

.banner .unit,
.banner .empty {
  font-size: 28rpx;
  font-weight: 350;
  width: 30rpx;
  line-height: 1.8;
}

.banner .target {
  font-size: 24rpx;
  font-weight: 350;
}

.memory-box {
  width: 100%;
  padding: 30rpx;
  z-index: 200;
  position: relative;
  box-sizing: border-box;
}

.memory-item {
  border-radius: 20rpx;
  background-color: #fff;
  color: #242424;
  align-items: flex-start;
  padding: 40rpx;
  box-sizing: border-box;
  position: absolute;
}

.allow-scroll {
  pointer-events: none;
}

.transition-item {
  transition: transform 0.3s;
}

.memory-item .title {
  font-size: 24rpx;
  font-weight: 350;
  color: #404040;
  width: 100%;
}

.memory-item .title .top {
  width: 8rpx;
  height: 8rpx;
  border-radius: 50%;
  margin: auto 0;
}

.memory-item .title .top.one {
  border: 4rpx solid #b37feb;
}

.memory-item .title .top.three {
  border: 4rpx solid #4793eb;
}

.memory-item .title .top.seven {
  border: 4rpx solid #67a4b1;
}

.memory-item .title .top.zero {
  border: 4rpx solid #f45551;
}

.memory-item .content {
  position: relative;
  height: 100rpx;
}

.memory-item .num {
  font-size: 46rpx;
  font-weight: 450;
  line-height: 1;
  margin-right: 6rpx;
  letter-spacing: 4rpx;
}

.memory-item .unit {
  font-size: 24rpx;
  font-weight: 350;
  line-height: 1.4;
}

.add {
  width: 90rpx;
  height: 90rpx;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 20rpx;
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 100rpx;
  right: 40rpx;
  z-index: 400;
  box-shadow: 0rpx 2rpx 10rpx rgba(64, 64, 64, 0.1);
}

.add image {
  width: 100%;
  height: 100%;
  display: block;
}

.memory-item.active-item {
  z-index: 200;
  box-shadow: 0rpx 0rpx 10rpx rgba(64, 64, 64, 0.4);
}

.change-banner-bg-cover {
  position: absolute;
  z-index: 900;
  background-color: #111;
  opacity: 0.2;
  top: 636rpx;
  left: 0;
  right: 0;
  bottom: 0;
}

.change-banner-bg-box {
  position: fixed;
  top: 500rpx;
  left: 50%;
  width: 600rpx;
  z-index: 1000;
  margin-left: -300rpx;
  box-sizing: border-box;
  padding: 20rpx;
  border-radius: 20rpx;
  background-color: #fff;
  box-shadow: 0rpx 2rpx 10rpx rgba(64, 64, 64, 0.1);
}

.change-banner-bg-box .row {
  position: relative;
}

.change-banner-bg-box .row:last-child {
  margin-bottom: 0;
}

.change-banner-bg-box .row .column {
  position: relative;
  box-sizing: border-box;
}

.change-banner-bg-box .row .column .sel {
}

.change-banner-bg-box .row .column:last-child {
  margin-right: 0rpx;
}

.change-banner-bg-box .row .column .bg {
  background-color: #f96e49;
  padding-bottom: 76%;
}

.change-banner-bg-box .row .column .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  font-size: 24rpx;
  font-weight: 350;
  color: #fff;
  height: 40rpx;
  line-height: 40rpx;
  margin-top: -20rpx;
}

.change-banner-bg-box .title {
  font-size: 30rpx;
  font-weight: 350;
  margin-bottom: 40rpx;
  text-align: center;
}

.change-banner-bg-box .sub-title {
  font-size: 26rpx;
  font-weight: 350;
  margin-bottom: 40rpx;
  text-align: center;
}

.change-banner-bg-box .arrow {
  position: absolute;
  top: -10rpx;
  left: 50%;
  margin-left: -8rpx;
  width: 20rpx;
  height: 20rpx;
  z-index: 800;
  background-color: #fff;
  transform: rotate(45deg);
}
