page {
  box-sizing: border-box;
  background-color: #f0f0f0 !important;
  height: 100%;
}

.container {
  display: block;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

.box {
  width: 100%;
  padding: 30rpx;
  z-index: 200;
  position: relative;
  box-sizing: border-box;
}

.item {
  border-radius: 20rpx;
  background-color: #fff;
  color: #242424;
  align-items: flex-start;
  padding: 40rpx;
  box-sizing: border-box;
  position: absolute;
}

.transition-item {
  transition: transform 0.3s;
}

.item.active-item {
  z-index: 200;
  box-shadow: 0 0 10px rgba(64, 64, 64, 0.4);
}
